.content{
    margin: 20px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: goldenrod;
    padding: 15% 1% 15% 1%;
    background-image: url("https://makassar.rakyatku.com/thumbs/img_768_Ingin_Baca_1487142194buku.jpg");
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content h1{
    background-color: black;
    padding: 5px;

}

.content h3{
    background-color: rgb(10, 2, 88);
    color: white;
    padding: 5px;
}